.favourites{
    color: white;
    padding-top: 4%;
    padding-left: 4.5%;
    padding-right: 4.5%;
    padding-bottom: 4%;
}

.menuSelector{
    background-color: #333;
    border-radius: 5px;
    padding: 4px;
    padding-left: 10px;
    margin-top: 20px;
    margin-bottom: 27px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
