.datosdepelicula {
    background-image: url('./../../assets/imagenes/Background.png');
    background-repeat: repeat-y;
    background-size: 100%;
    margin-top: -20px;
    /* color: rgba(255, 0, 0, 0.699); */
    /* color: white; */
    font-size: 20px;
    font-family: 'Montserrat', Arial, sans-serif;
    font-weight: bolder;
}
/* FILA SUPERIOR: .filaSup */
.colIzq {
    background: rgb(236, 225, 225);
    border-radius: 5px;
    padding: 25px;
}

.backdrop {
    max-height: 700px;
    top: 25px;
    left: 0;
    right: 0;
    overflow: hidden;
}
.backdrop img{
    width: 100%;
}

.poster img {
    display: block;
    position: relative;

    height:500px;
    border-radius: 10px;

    margin-top: -150px;
    margin-left: auto;
    margin-right: auto;
    scale: 90%;
    transition: all 300ms;
    z-index: 5;
}
.poster img:hover {
    scale: 95%;
    box-shadow: 5px 5px 5px black;
}

/* COLUMNA DERECHA: .colDer */
.colDer{
    background: rgb(236, 225, 225);
    border-radius: 5px;
    padding: 25px;
    margin-top: 20px;


}
/* caso de películas */
.graficoEconomico{
    background-color: rgb(224, 224, 224);
    border-radius: 50px;
}


/* prueba */


.coronaCircular {
    fill: none;
    margin-left: 20%;
    display: flex;
    width: 100px;
    height: 100px;
    position: relative;
    transition: all 5000ms;
  }
  
  .coronaSvg {
    position: absolute;
  }
  
  .coronaValoracion {
    transform: rotate(-90deg);
    transform-origin: 50%;
  }
  
  .coronaPopularidad {
    transform: rotate(-90deg);
    transform-origin: 50%;
  }
  
  text {
    font-family: Arial, sans-serif;
    font-weight: bold;
  }

  .tituloGraficos{
    display:flex;

    font-size: 20px;
    font-weight: bold;
    margin-left: 16%;
  }

  .prueba{
    color: #309e0e;
    color: #ff0000;
  }