.datosdepelicula{
    background-image: url('./../../assets/imagenes/Background.png');
    background-repeat: repeat-y;
    background-size: 100%;
    margin-top:-20px;
    color: white;
    font-size: 20px;
    font-family: 'Montserrat', Arial, sans-serif;
    font-weight: bolder;
}

.blackdrop {
    height: 500px;
    position: relative;
    overflow: hidden;
}

.blackdrop img{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.poster{
    display: block;
    height: 50px;
    width: 50px;
}

.poster img{
    display: block;
    margin-top: 30px;
    margin-left: 50px;
    border-radius: 10px;
    height: 500px;
}
.titulo{
    font-family:'Verdana', Arial, sans-serif;
    margin-top: -2%;
    margin-left: 17%;
    z-index: 5;
}
.ano{
    font-family:'Verdana', Arial, sans-serif;
    font-size: 10px;
    margin-top: 0%;
    margin-left: 17%;
    z-index: 5;
}
.director{
    font-family:'Verdana', Arial, sans-serif;
    margin-top: 0px;
    margin-left: 17%;
    z-index: 5;
}
.tiempoEmision{
    font-family:'Verdana', Arial, sans-serif;
    margin-top: 20px;
    margin-left: 17%;
    z-index: 5;
}
.genero{
    font-family:'Verdana', Arial, sans-serif;
    margin-top: 20px;
    margin-left: 17%;
    z-index: 5;
}
.pais{
    font-family:'Verdana', Arial, sans-serif;
    margin-top: 20px;
    margin-left: 17%;
    z-index: 5;
}
.idioma{
    font-family:'Verdana', Arial, sans-serif;
    margin-top: 20px;
    margin-left: 17%;
    z-index: 5;
}

.duracion{
    font-family:'Verdana', Arial, sans-serif;
    margin-top: 20px;
    margin-left: 17%;
    z-index: 5;
}
.valoracion{
    font-family:'Verdana', Arial, sans-serif;
    margin-top: 20px;
    margin-left: 17%;
    z-index: 5;
}
.popularidad{
    font-family:'Verdana', Arial, sans-serif;
    margin-top: 20px;
    margin-left: 17%;
    z-index: 5;
}