.movieData {
    background-image: url('./../../assets/imagenes/Background.png');
    background-repeat: repeat-y;
    background-size: 100%;
    margin-top: -20px;
    /* color: rgba(255, 0, 0, 0.699); */
    /* color: white; */
    font-size: 20px;
    font-family: 'Montserrat', Arial, sans-serif;
    font-weight: bolder;
}
/* FILA SUPERIOR: .filaSup */
.colLeft {
    background: rgb(236, 225, 225);
    border-radius: 5px;
    padding: 25px;
}

.backdrop {
    max-height: 700px;
    top: 25px;
    left: 0;
    right: 0;
    overflow: hidden;
}
.backdrop img{
    width: 100%;
}

.poster {
  position: relative;
}

.poster img {
    display: block;
    

    height:500px;
    border-radius: 10px;

    margin-top: -150px;
    margin-left: auto;
    margin-right: auto;
    scale: 90%;
    transition: all 300ms;
    
}
.poster img:hover {
    scale: 95%;
    box-shadow: 5px 5px 5px black;
}

/* COLUMNA DERECHA: .colDer */
.colRight{
    background: rgb(236, 225, 225);
    border-radius: 5px;
    padding: 25px;
    margin-top: 20px;
    position: relative;

}
/* caso de películas */
.economicGraph{
    background-color: rgb(224, 224, 224);
    border-radius: 50px;
}


/* prueba */


.circularCrown {
    fill: none;
    margin-left: 20%;
    display: flex;
    width: 100px;
    height: 100px;
    position: relative;
    transition: all 5000ms;
  }
  
  .crownSvg {
    position: absolute;
  }
  
  .avarageCrown {
    transform: rotate(-90deg);
    transform-origin: 50%;
  }
  
  .popularityCrown {
    transform: rotate(-90deg);
    transform-origin: 50%;
  }
  
  text {
    font-family: Arial, sans-serif;
    font-weight: bold;
  }

  .graphTitle{
    display:flex;

    font-size: 20px;
    font-weight: bold;
    margin-left: 16%;
  }

.favLocation {
  position: relative;
  height: 60px;
  top: 0;
  right: 0;
  left: 0;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 25px;
}
.icon{
  width: 30px;
  height: 30px;
}


