.favouriteID img{
    margin: 27px;
    
}

.title{
    margin:10px;
    text-align: center;
    color: white;
    font-weight: bold;
    text-decoration: none;
}

.noDeco {
    text-decoration: none;
    color: white;
}