.favoritoId img{
    margin: 27px;
    
}

.titulo{
    margin:10px;
    text-align: center;
    color: white;
    font-weight: bold;
    text-decoration: none;
}
img{

}

.noDeco {
    text-decoration: none;
    color: white;
}